.DS_Store
.env.development.local
.env.local
.env.production.local
.env.test.local
.envrc
.eslintcache
.idea
.vercel
.vscode
*.log
*.tgz
logs
node_modules
dist
npm-debug.log*
package-lock.json
static
yarn-debug.log*
yarn-error.log*
